/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-variation-settings: "wght" var(--font-weight);
  background: 
  repeating-linear-gradient( to right, var(--background-gradient), transparent 2px),
  repeating-linear-gradient( to bottom, var(--background-gradient), transparent 2px),
  repeating-linear-gradient( to bottom, var(--main-gradient-color) 0.01%, var(--other-gradient-color));
  background-attachment: fixed;
  background-size: cover;
  block-size: 100vh;
}

.cover {
  margin: auto;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  max-inline-size: 696px;
}

.header {
  display: grid;
  margin-block-end: 100px;
  justify-items: center;
  justify-content: center;
  font-family: var(--accent-font);
  line-height: normal;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
  padding-inline-start: 10px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -15px;
  inset-block-start: 0px;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.main {
  display: grid;
  justify-items: center;
  gap: 50px;
}

.card-title {
  font-variation-settings: "wght" var(--accent-font-weight);
  padding: 4px 10px;
  border-block-end: 2px solid var(--text-color);
}

.card__list {
  display: grid;
  gap: 50px;
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__img-wrapper {
  position: relative;
}

.card__label {
  position: absolute;
  z-index: 1;
  inset-inline-end: 15px;
  inset-block-start: 20px;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: 0 0 1px var(--bg-color);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px 25px 0 25px;
  font-size: 18px;
  line-height: calc(21/18);
  border-block-start: 2px solid var(--text-color);
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button {
  display: grid;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.card-button {
  display: flex;
  justify-content: end;
  gap: 6px;
  padding: 24px;
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--text-color);
  padding: 10px 35px;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.footer {
  display: grid;
  place-items: center;
  padding: 50px;
}

.button__save {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--text-button-color);
}

.button__icon {
  block-size: 22px;
  inline-size: 22px;
  mix-blend-mode: difference;
  color: var(--text-button-color);
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.sparks {
  opacity: 0;
}

.modal {
  padding: 30px 40px;
  max-inline-size: 353px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-family: var(--accent-font);
  text-transform: inherit;
  background: var(--bg-color);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__window {
  display: flex;
  align-items: center;
  gap: 15px;
}

.modal__icon {
  inline-size: 39px;
  block-size: 39px;
}

.modal__window-button {
  inline-size: 100%;
}

.modal::backdrop {
  background-color: var(--bg-color);
  backdrop-filter: blur(7px);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-hue-rotate {
  filter: hue-rotate(50deg);
}

.filter-invert {
  filter: invert(0.9);
}

.filter-sepia {
  filter: sepia(0.8);
}

.filter-blur {
  filter: blur(15px);
}

.filter-multiply {
  filter: saturate(140%) hue-rotate(80deg) contrast(60%);
}

@media (width <= 375px) {
  .button__save {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .modal {
    padding: 30px;
    max-inline-size: 341px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--bg-color)) or
    (text-stroke: 1px var(--bg-color))
) {
  .card__img-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}